.Basket {
  background-image: url('https://thumbs.dreamstime.com/b/basket-texture-7336858.jpg');
  background-size: cover;
}

h2.title {
  justify-content: center;
}

button {
  justify-content: center;
  margin-right: 1.7rem;
  margin-bottom: 2rem;
}
