
.card-footer {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(217,217,217,1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(217,217,217,1);
  box-shadow: inset 0px 0px 0px 2px rgba(217,217,217,1);  
  background-color:  rgba(217,217,217,1);
}

.Mushroom {
  margin-bottom: auto;
}

.hide {
  display: none;
}

.card-img-top {
  width: 100% !important
}
